body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.bg-cst{
    background: rgba(20,27,61,1);
}
.card-cst{
    width: 11rem;
    background: transparent;
    border: 0ch;
}

.a-none{
    color: inherit;
    text-decoration: none !important;
}

.text-color{
 color: aliceblue;
}

.item-col {
    margin-bottom:30px
}

.icon {
    border-radius: 20px;
}

footer{
    margin-top: auto;
}